__pycache__/
*/__pycache__

# pytorch模型文件
*.pt
*.pth

*.weights
*.engine
*.pdb
ipch/
dataSets/facebank/*
!dataSets/facebank/*.pth
!dataSets/facebank/*.npy



*.prototxt
*.caffemodel
*.onnx
*.pb
!models/faceDetectOnnx/*.onnx
!models/faceRecogPth/model_mobilefacenet.pth

*.swp
*.sdf
*.opensdf
*.exp
*.db
*.ipdb
*.dll
*.lib
*.table
api/
*.iobj
*.opendb
*.exe
.vs/
.vscode/
*.log
*.avi

work_space/models/*
.ipynb_checkpoints
./sln/*
*.ipynb
results/
!results/*.md
!results/fastFaceDetector.jpg

matlabPro/testCamera.m
